body {
  color: #111111;
  background-color: #ffffff;
  font-family: 'Open Sans',sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}
section {
  display: block;
  position: relative;
}
.align-center {
  text-align: center;
}

.text-1 {
  width: 640px;
  margin: 10px auto 0;
  font-weight: 900;
  line-height: 1.2;
  font-size: 2.25rem;
  word-wrap: break-word;
  position: relative;
  font-family: Roboto,sans-serif;
  text-align: center;
  color: #cb363b;
}

.text-2 {
  line-height: 26px;
  width: 640px;
  margin: 20px auto 0;
  font-weight: 400;
  word-wrap: break-word;
  position: relative;
  text-align: left;
  border: 2px solid #b9c0ba;
  border-radius: 5px;
  padding: 5px;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #cb363b;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pagination {
  margin-top: 10px;
}

.pagination button {
  display: inline-block;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.pagination-button {
  background: linear-gradient(89.9deg, #ef484e, #cb363b);
  color: white;
  margin: 10px 16px 20px 0;
  letter-spacing: 1px;
  font-weight: 600;
}

.pagination-disable {
  background-color: #f1f1f1 !important;
  color: #000000;
  margin-right: 16px;
}
